.Result {
  text-align: left;
  color: #3c533c;
}
.result {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  color: #89a894;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.partOfSpeech {
  color: #3c533c;
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 18px;
  padding-top: 20px;
}

.definition {
  font-family: "roboto";
  font-size: 14px;
}

.synonyms {
  border: white;
  padding-top: 5px;
  color: #8b8b89;
  font-size: 12px;
}

.fa-play-circle {
  color: #3c533c;
  font-size: 20px;
}
button {
  border-style: none;
  background-color: #faf0f0;
}

button:hover {
  color: #89a894;
  transition-duration: 0.4s;
}
h3 {
  font-family: "DM Serif Text", serif;
  color: #3c533c;
  font-size: 50px;
  padding-top: 20px;
}
